@import "../../utilities/_variables"
    
.login-page
    display: flex
    flex-wrap: wrap
    width: 100%
    height: 100vh

    background-color: $white

.login-page__login
    position: relative
    display: flex
    flex-wrap: wrap
    align-content: center
    gap: 20px

    width: 50%
    height: fit-content

    margin: auto
    padding: 60px 40px 40px 40px

    border-radius: 8px
    background-color: $white
    box-shadow: 0px 20px 40px 0px rgba(38, 65, 116, 0.15)

.login-page__input
    width: 100%

    padding: 20px

    border-radius: 8px
    border: 2px solid rgba(0, 0, 0, 0.10)

.login-page_buttons
    position: relative

    background-color: $blue
    border-radius: 8px
    height: 40px

.slider-button
    z-index: 2
    color: white
    width: 50%
    height: 100%

    display: flex
    align-items: center
    justify-content: center

    p
        margin: 0px

.slider
    position: absolute
    top: 0px
    left: 0%

    width: 50%
    height: 100%
    border-radius: 8px

    background-color: $dark-blue

    transition: all 0.2s linear
