.side-menu
    width: 100%
    height: 100vh
    overflow: hidden

    background: #F6FAFF

    padding: 40px 20px

    h3
        margin-bottom: 60px

.buttons
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    height: 100%


.menu-buttons
    display: flex
    flex-wrap: wrap
    align-content: start

    min-height: 60%

    gap: 20px