@import "./utilities/_variables"

*, ::after, ::before 
  box-sizing: border-box
  // --bs-gutter-x: 0px

body 
  margin: 0px
  font-family: 'Kanit', sans-serif

.main-part
  padding: 40px

h1
  font-size: 32px
  font-style: normal
  font-weight: 600
  color: $dark-blue

  margin: 0px

a
  text-decoration: none
  width: 100%