@import "./utilities/_variables"

*, ::after, ::before 
  box-sizing: border-box
  // --bs-gutter-x: 0px

body 
  margin: 0px
  font-family: 'Kanit', sans-serif
  position: relative
  overflow: hidden !important



.main-part
  padding: 40px
  height: 100vh
  overflow: scroll

h1
  font-size: 32px
  font-style: normal
  font-weight: 600
  color: $dark-blue

  margin: 0px

.margin-h1
  margin-bottom: 40px

h2
  font-size: 24px
  font-weight: 500
  color: $dark-blue

h3
  margin: 0px

a
  text-decoration: none
  width: 100%

.notes-container
  width: 100%
  display: grid
  gap: 20px
  grid-template-columns: repeat(4, 1fr)
  margin-bottom: 120px

.navlink
  text-decoration: none
  color: $text-blue
  width: auto

.fab

  position: absolute
  bottom: 96px
  right: 40px

  display: flex

  align-items: center

  width: 48px
  height: 48px

  border: none
  border-radius: 50%
  background-color: $dark-blue

  font-size: 16px
  color: $white

  box-shadow: 0px 12px 20px 0px rgba(38, 65, 116, 0.10)

  z-index: 3

  p
    display: none
    margin: 0px

  transition: all 0.1s linear


  &:hover
    border-radius: 8px
    width: auto
    padding: 8px 16px

    p
      display: block
      margin: 0px

    .plus
      width: 32px

@media (max-width: 768px)

  .main-part
    padding: 20px
    height: 100dvh
    overflow: scroll

  h1
    font-size: 24px
    font-style: normal
    font-weight: 600
    color: $dark-blue

    margin: 0px

  .margin-h1
    margin-bottom: 20px

  h2
    font-size: 20px
    font-weight: 500
    color: $dark-blue

  h3
    margin: 0px

  .notes-container
    width: 100%
    display: grid
    gap: 20px
    grid-template-columns: repeat(2, 1fr)
    margin-bottom: 120px

  .fab

    position: absolute
    bottom: 136px
    right: 20px

    display: flex

    align-items: center

    width: 48px
    height: 48px

    border: none
    border-radius: 50%
    background-color: $dark-blue

    font-size: 16px
    color: $white

    box-shadow: 0px 12px 20px 0px rgba(38, 65, 116, 0.10)

    z-index: 3